

/* nav nav nav nav */

body {
    width: 1920px;
    height: 1080px;
    background: #FFF;
    margin: 0px;
}

.rec1 {
    width: 1920px;
    height: 90px;
    flex-shrink: 0;
    background: #524C43;
    position: absolute;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 990px;
    
}



/* .rec2 {
    width: 709px;
    height: 18px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 72px;
    left: -21px;
    right: 752px;
    bottom: 934px;
} */


/* .rec3 {
    width: 930px;
    height: 24px;
    flex-shrink: 0;
    background: #FFF;  
    position: absolute;
    top: 72px;
    left: 752px;
    right: -242px;
    bottom: 934px;

} */


.rec4 {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background: url(img/logo.png), lightgray 50% / cover no-repeat;
    position: absolute;
    top: 49px;
    left: 916px;
    right: 919px;
    bottom: 967px;
}


/* menu menu menu */

.menuToggle {
  display: block;
  position: relative;
  top: 36px;
  left: 64px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: rgb(0, 0, 0);
}

.menuToggle input 
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

.menuToggle span
{
  display: block;
  width: 33px; 
  height: 4px; 
  margin-bottom: 5px; 
  position: relative; 
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px; 
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.menu
{
  position: absolute;
  width: 97px;
  margin: -150px 0 0 -63px;
  padding: 60px;
  padding-top: 177px;
  padding-bottom: 37px;
  background:  #524C43;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 20px 0;
  font-size: 25px;
  font-family: monospace;
}
.menuToggle input:checked ~ ul
{
  transform: none;
}

/* menu pos */




.box1 {
    width: 250px;
    height: 188px;
    flex-shrink: 0;
    background: #5C4F36;
    position: absolute;
    top: 161px;
    left: 608px;
    right: 1062px;
    bottom: 731px;

}

.box2 {
    width: 431px;
    height: 188px;
    flex-shrink: 0;
    background: #5C4F36;
    position: absolute;
    top: 161px;
    left: 890px;
    right: 599px;
    bottom: 731px;
    
}


.box3 {
    width: 713px;
    height: 327px;
    flex-shrink: 0;
    background: #5C4F36;
    position: absolute;
    top: 382px;
    right: 599px;
    bottom: 371px;
    left: 608px;
}


.box4 {
    width: 431px;
    height: 188px;
    flex-shrink: 0;
    background: #5C4F36;
    position: absolute;
    top: 742px;
    right: 891px;
    bottom: 150px;
    left: 608px;
    
}

.boximg5 {
    width: 238px;
    height: 174px;
    flex-shrink: 0;
    position: absolute;
    top: 747px;
    right: 604px;
    bottom: 159px;
    left: 1078px;
} 

.box5 { 
    width: 250px;
    height: 188px;
    flex-shrink: 0;
    background: #5C4F36;
    position: absolute;
    top: 742px;
    right: 599px;
    bottom: 150px;
    left: 1071px;
    
    
}


footer {
    background: #524C43;
    width: 1920px;
    height: 67px;
    flex-shrink: 0;
    position: absolute;
    top: 1013px;
    right: 0;
    bottom: 0;
    left: 0;
}


/* .f2 {
    width: 1440px;
height: 13px;
flex-shrink: 0;
background: #FFF;
position: absolute;
top: 957px;
bottom: 54px;
} */

.boximg1 {
    width: 233px;
    height: 175px;
    flex-shrink: 0;
    position: absolute;
    top: 168px;
    right: 1070px;
    bottom: 737px;
    left: 617px;
}


.boximg3 {
    width: 695px;
    height: 312px;
    flex-shrink: 0;
    position: absolute;
    top: 389px;
    right: 608px;
    bottom: 379px;
    left: 617px;
}

.p1 {
    display: flex;
    width: 377px;
    height: 196px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15.6px;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 26px;
    bottom: 0;
    left: 26;
}

.p2 {
    display: flex;
    width: 377px;
    height: 196px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15.2px;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 26px;
    bottom: 0;
    left: 26;
}

.divline1{
    width: 366px;
    height: 6px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 325px;
    right: 637px;
    bottom: 749px;
    left: 917px;

}


.divline2{
    width: 366px;
    height: 6px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 902px;
    right: 919px;
    bottom: 170px;
    left: 635px;

}



.pf {
  color: #FFF;
text-align: right;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 106.385%;
display: flex;
width: 308px;
height: 38px;
flex-direction: column;
flex-shrink: 0;
position: absolute;
top: 8px;
right: 787px;
bottom: 0px;
left: 825px;

}