
/* body {
    width: 1920px;
    height: 1080px;
    background: #FFF;
    margin: 0px;
} */

.rec1 {
    width: 1920px;
    height: 90px;
    flex-shrink: 0;
    background: #524C43;
    position: absolute;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 990px;
    
}

.cart {
    width: 54px;
    height: 31px;
    flex-shrink: 0;
    position: absolute;
    top: 30px;
    left: 1785px;
    right: 81px;
    bottom: 1019px;

}

/* .rec2 {
    width: 709px;
    height: 18px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 72px;
    left: -21px;
    right: 752px;
    bottom: 934px;
} */


/* .rec3 {
    width: 930px;
    height: 24px;
    flex-shrink: 0;
    background: #FFF;  
    position: absolute;
    top: 72px;
    left: 752px;
    right: -242px;
    bottom: 934px;

} */


.rec4 {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background: url(img/logo.png), lightgray 50% / cover no-repeat;
    position: absolute;
    top: 49px;
    left: 916px;
    right: 919px;
    bottom: 967px;
}


/* menu menu menu */

.menuToggle {
  display: block;
  position: relative;
  top: 36px;
  left: 64px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #ffffff;
  /* transition: color 0.3s ease; */
}

.menuToggle a:hover
{
  color: rgb(0, 0, 0);
}

.menuToggle input 
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

.menuToggle span
{
  display: block;
  width: 33px; 
  height: 4px; 
  margin-bottom: 5px; 
  position: relative; 
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px; 
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  /* transform-origin: 0% 100%; */
}

.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.menu
{
  position: absolute;
  width: 97px;
  margin: -150px 0 0 -63px;
  padding: 60px;
  padding-top: 177px;
  padding-bottom: 37px;
  background:  #524C43;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 20px 0;
  font-size: 25px;
  font-family: monospace;
}
.menuToggle input:checked ~ ul
{
  transform: none;
}

/* menu pos */


footer {
    background: #524C43;
    width: 1920px;
    height: 67px;
    flex-shrink: 0;
    position: absolute;
    top: 1013px;
    right: 0;
    bottom: 0;
    left: 0;
}


.rightbox1 {
    top: 166px;
    bottom: 798px;
    position: absolute;
    left: 745px;
    right: 608px;
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 

.rightbox2 {
    top: 296px;
    bottom: 668px;
    position: absolute;
    left: 745px;
    right: 608px; 
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 

.rightbox3 {
    top: 426px;
    bottom: 538px;
    position: absolute;
    left: 745px;
    right: 608px;
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 

.rightbox4 {
    top: 556px;
    bottom: 408px;
    position: absolute;
    left: 745px;
    right: 608px;
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 

.rightbox5 {
    top: 686px;
    bottom: 278px;
    position: absolute;
    left: 745px;
    right: 608px;
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 

.rightbox6 {
    top: 816px;
    bottom: 148px;
    position: absolute;
    left: 745px;
    right: 608px;
    width: 567px;
    height: 116px;
    flex-shrink: 0; 
    background: #5C4F36;
} 


.leftbox1, .leftbox2, .leftbox3, .leftbox4, .leftbox5, .leftbox6 {
    width: 115px;
    height: 116px;
    flex-shrink: 0;  
    background: #5C4F36;
    position: absolute;
    left: 606px;
    right: 199px;
}


.leftbox1 {
    top: 166px;
    bottom: 798px;

}

.leftbox2 {
    top: 296px;
    bottom: 668px;
    
}

.leftbox3 {
    top: 426px;
    bottom: 538px;
    
}

.leftbox4 {
    top: 556px;
    bottom: 408
    
}

.leftbox5 {
    top: 686px;
    bottom: 278px;
    
}

.leftbox6 {
    top: 816px;
    bottom: 148px;
    
}


.leftbox1IMG, .leftbox2IMG, .leftbox3IMG, .leftbox4IMG, .leftbox5IMG, .leftbox6IMG {
    width: 109px;
    height: 91px;
    flex-shrink: 0;
    position: absolute;
    left: 609px;
    right: 1202px;

}


.leftbox1IMG {
    top: 170px;
    bottom: 819px;

}

.leftbox2IMG{
    top: 300px;
    bottom: 689px;

}

.leftbox3IMG{
    top: 430px;
    bottom: 559px;

}

.leftbox4IMG{
    top: 559px;
    bottom: 430px;

}

.leftbox5IMG{
    top: 689px;
    bottom: 300px;

}

.leftbox6IMG{
    top: 819px;
    bottom: 170px;

}


.button1 {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  top: 209px;
    bottom: 841px;
    position: absolute;
    left: 1240px;
    right: 631px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1a {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  top: 209px;
    bottom: 841px;
    position: absolute;
    left: 1140px;
    right: 640px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
  background-color: #787878;
  color: white;
}

.button1a:hover {
  background-color: #787878;
  color: white;
}

.input1 {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
  background: #FFF;
  top: 209px;
    bottom: 841px;
    position: absolute;
    left: 1190px;
    right: 700px;
}

.input2 {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
  background: #FFF;
  top: 339px;
  bottom: 711px;
    position: absolute;
    left: 1190px;
    right: 700px;
}

.input3 {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
  background: #FFF;
  top: 466px;
    bottom: 841px;
    position: absolute;
    left: 1190px;
    right: 700px;
}

.input4 {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
  background: #FFF;
  top: 602px;
  bottom: 711px;
    position: absolute;
    left: 1190px;
    right: 700px;
}

.input5 {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
  background: #FFF;
  top: 733px;
    bottom: 841px;
    position: absolute;
    left: 1190px;
    right: 700px;
}



.button2, .button3, .button4, .button5, .button6 {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  position: absolute;
  left: 1240px;
  right: 631px;
  transition-duration: 0.4s;
    cursor: pointer;

}

.button2:hover, .button3:hover, .button4:hover, .button5:hover {
  background-color: #787878;
  color: white;
}

.button2a:hover, .button3a:hover, .button4a:hover, .button5a:hover {
  background-color: #787878;
  color: white;
}

.button2a, .button3a, .button4a, .button5a, .button6a {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
    position: absolute;
    left: 1140px;
    right: 640px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button2, .button2a {
  top: 339px;
  bottom: 711px;
}


.button3, .button3a {
  top: 463px;
  bottom: 587px;
}


.button4, .button4a {
  top: 599px;
  bottom: 451px;
}


.button5, .button5a {
  top: 729px;
  bottom: 321px;
}


.button6, .button6 {
  top: 863px;
  bottom: 187px;
}

.sidea {
  width: 216px;
height: 246px;
flex-shrink: 0;
background: #5C4F36;
position: absolute;
top: 166px;
right: 366px;
bottom: 668px;
left: 1338px;

}


.textblock1 {
  display: flex;
  width: 114px;
  height: 26px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
 font-family: monospace;
 font-size: 16px;
  font-style: normal;
 font-weight: 700;
 line-height: normal;
 top: 221px;
 right: 421px;
 bottom: 716px;
 left: 1385px;

}

.text1 {
  position: absolute;
  top: 221px;
  bottom: 835px;
  right: 444px;
  left: 1382px;
  width: 94px;
  height: 24px;
  flex-shrink: 0;
  
}

.text2 {
  right: 444px;
  left: 1382px;
  top: 269px;
  bottom: 787px;
  position: absolute;
  width: 94px;
  height: 24px;
  flex-shrink: 0;

}

.text3 {
  right: 444px;
  left: 1382px;
  top: 315px;
  bottom: 741px;
  position: absolute;
  width: 94px;
  height: 24px;
  flex-shrink: 0;
}



.sideof {
  display: flex;
width: 116px;
height: 119px;
flex-direction: column;
flex-shrink: 0;
color: #000000;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 106.385%;
top: 222px;
right: 317px;
bottom: 739px;
left: 1487px;
}

.text4, .text5, .text6 {
  width: 53px;
height: 24px;
flex-shrink: 0;
background: #FFF;
position: absolute;
right: 384px;
left: 1483px;
}

.text4 {
  top: 221px;
  bottom: 835px; 
}

.text5 {
  top: 268px;
  bottom: 788px; 
}

.text6 {
  top: 320px;
  bottom: 736px; 
}


.buybutton {
  width: 160px;
height: 26px;
flex-shrink: 0;
background: #FFF;
position: absolute;
top: 362px;
right: 384px;
bottom: 692px;
left: 1376px;
font-family: monospace;
transition-duration: 0.4s;
cursor: pointer;
}

.buybutton:hover {
  background-color: #787878;
  color: white;
}

.bp1 {
  display: flex;
width: 110px;
height: 23px;
flex-direction: column;
flex-shrink: 0;
color: #ffffff;
font-family: monospace;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 265px;
right: 1390px;
left: 610px;
bottom: 806px;

}

.bp2 {
  color: #FFF;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 175px;
right: 1390px;
left: 770px;
bottom: 806px;

}

.bp3 {
  color: #FFF;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 200px;
right: 1390px;
left: 770px;
bottom: 806px;

}

.bp4 {
  color: #FFF;
font-family: monospace;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 224px;
right: 1390px;
left: 770px;
bottom: 806px;
width: 110px;
height: 23px;
}

.bp5 {
color: #FFF;
font-family: monospace;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 178px;
right: 1390px;
left: 830px;
bottom: 806px;
width: 110px;
height: 23px;

}


.bp6 {
  color: #FFF;
font-family: monospace;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 395px;
right: 1390px;
left: 614px;
bottom: 806px;
width: 110px;
height: 23px;

}

.bp7 {
  color: #FFF;
font-family: monospace;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 308px;
right: 1390px;
left: 773px;
bottom: 806px;
width: 110px;
height: 23px;

}

.bp8 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 334px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}


.bp9 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 358px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}


.bp10 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 307px;
  right: 1390px;
  left: 830px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp11 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 524px;
  right: 1390px;
  left: 614px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp12 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 441px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp13 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 464px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp14 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 486px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 100px;
  height: 15px;

}

.bp15 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 441px;
  right: 1390px;
  left: 827px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp16 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 653px;
  right: 1390px;
  left: 616px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp17 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 568px;
  right: 1390px;
  left: 774px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp18 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 595px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp19 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 617px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp20 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 565px;
  right: 1390px;
  left: 828px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp21 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 783px;
  right: 1390px;
  left: 616px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp22 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 702px;
  right: 1390px;
  left: 774px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp23 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 729px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp24 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 749px;
  right: 1390px;
  left: 773px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}

.bp25 {
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 703px;
  right: 1390px;
  left: 828px;
  bottom: 806px;
  width: 110px;
  height: 23px;

}


footer {
  background: #524C43;
  width: 1920px;
  height: 67px;
  flex-shrink: 0;
  position: absolute;
  top: 1013px;
  right: 0;
  bottom: 0;
  left: 0;
}


.pf {
  color: #FFF;
text-align: right;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 106.385%;
display: flex;
width: 308px;
height: 38px;
flex-direction: column;
flex-shrink: 0;
position: absolute;
top: 23px;
right: 787px;
bottom: 0px;
left: 825px;

}

